{%extends './base.html'%}

{%block title%}
{%load static%}
Mentor
{%endblock%}

{%block nav%}
<li>
    <a href="../">Home</a>
</li>
<li>
    <a href="../blog">Blog</a>
</li>
<li>
    <a href="../mentor">Mentor</a>
</li>
<li>
    <a class="active" href="./">Mentee</a>
</li>
<li>
    <a href="../author">Author</a>
</li>
{%endblock%}

{%block header%}
Contact Person: Email: academy@alphatech.id Mobile phone: 0877 9609 9530
{%endblock%}

{%block content%}
<div class="mentor-content">
    <h2><strong>Our Mentee</strong></h2>
    <div class="container">
        {%for mentee in mentees%}
        <div class="row">
            <div class="col-3">
                <img class="mentee-pic" src="{{mentee.profile_pic}}"/>
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <h6><strong>{{mentee.name}}</strong></h6>
                <h6>"{{mentee.quotes}}"</h6>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}