<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Author</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-3">
                    <a href="https://academy.alphatech.id/" class="alpha-tech">
                        Alpha Tech Academy
                    </a>
                </div>
                <div class="col-12 col-md-9">
                    <div class="header-nav">
                        <ul class="header-nav__list list-unstyled">
                            <li>
                                <a href="../">Home</a>
                            </li>
                            <li>
                                <a href="../blog">Blog</a>
                            </li>
                            <li>
                                <a href="../mentor">Mentor</a>
                            </li>
                            <li>
                                <a href="../mentee">Mentee</a>
                            </li>
                            <li>
                                <a class="active" href="./">Author</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="home-title">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <img class="alpha-logo" src="{%static 'img/title/alpha-logo.png'%}"/>
                        <h1>Alpha Tech Academy</h1>
                        <h4>Alpha Tech Academy is a tech talent incubator that gives everyone
                            (even non IT background) a chance to be a profesional Tech Talent
                            3 months.</h3>
                    </div>
                </div>
            </div>
        </div>
    <div class="author-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="summary">
                        <img src="{%static 'img/author/author.jpg'%}"/>
                        <h3>Nama Author</h3>
                        <p><strong>Please Write your Summary,</strong> Lorem Ipsum Dolor Sit Amet. 
                            Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. 
                            Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. 
                            Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. 
                        </p>
                        <table style="width: 75%">
                            <tr>
                                <th>Alamat</th>
                                <td>: Alamat Author</td>
                            </tr>
                            <tr>
                                <th>Telephone</th>
                                <td>: Author's Telephone</td>
                            </tr>
                            <tr>
                                <th>Education</th>
                                <td>: Author's Education</td>
                            </tr>
                            <tr>
                                <th>Profession</th>
                                <td>: Author's Profession</td>
                            </tr>
                            <tr>
                                <th>Nationality</th>
                                <td>: Author's Nationality</td>
                            </tr>
                            <tr>
                                <th>Company</th>
                                <td>: Author's Company</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>: Author's Email</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>: Author's Address</td>
                            </tr>
                        </table>
                    </div>
                    <div class="maps">
                        <iframe style="width: 100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.314233480313!2d112.60827644979207!3d-7.966441481577971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa%20Lodge%20Malang!5e0!3m2!1sen!2sid!4v1575978753008!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row align-items-center product">
                <span>Our Product: </span>
                <img class="logo-grey-alphapay" src="{%static 'img/footer/logo-grey-alphapay.png'%}"/>
                <img class="logo-grey-sepulsa" src="{%static 'img/footer/logo-grey-sepulsa.png'%}"/>
                <img class="logo-grey-alphabill" src="{%static 'img/footer/logo-grey-alphabill.png'%}"/>
            </div>
            <div class="row align-items-center contact">
                <span><strong>Contact Person: </strong></span>
                <span>Mobile phone: 0877 9609 9530. Email: </span>
                <span class="email">academy@alphatech.id</span>
            </div>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>